<h2 style="text-align: center;">Our Products</h2>
<div class="card"  style="width: 18rem;display: inline-block;margin:10px 10px 10px 75px">
      <img src="./../../../assets/imges/4.jpg" style="height: 200px;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
</div>
<div class="card"  style="width: 18rem;display: inline-block;margin:10px">
      <img src="./../../../assets/imges/5.jpg" class="card-img-top" style="height: 200px;" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
</div>
<div class="card"  style="width: 18rem;display: inline-block;margin:10px">
      <img src="./../../../assets/imges/4.jpg" class="card-img-top" style="height: 200px;" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
</div>
<div class="card"  style="width: 18rem;display: inline-block;margin:10px">
      <img src="./../../../assets/imges/3.jpg" class="card-img-top" style="height: 200px;" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
</div>

<div class="card"  style="width: 18rem;display: inline-block;margin:10px 10px 10px 75px">
      <img src="./../../../assets/imges/5.jpg" class="card-img-top" style="height: 200px;" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
</div>
<div class="card"  style="width: 18rem;display: inline-block;margin:10px">
      <img src="./../../../assets/imges/4.jpg" class="card-img-top" style="height: 200px;" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
</div>
<div class="card"  style="width: 18rem;display: inline-block;margin:10px">
      <img src="./../../../assets/imges/3.jpg" class="card-img-top" style="height: 200px;" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
</div>
<div class="card"  style="width: 18rem;display: inline-block;margin:10px">
      <img src="./../../../assets/imges/5.jpg" class="card-img-top" style="height: 200px;" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
</div>