<br><br>
<h2 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Show ITI Tracks</h2>
<div class="bg-dark text-light text-center p-5">
      <div class="container">
            <div class="row">
                  <select class="form-control" [(ngModel)]="selectedValue">
                        <option value="Avilable at Smart and Menofia">PD Track</option>
                        <option value="Banha Branch & Aswan">Open Source Track</option>
                        <option value="Dosen't exist this year!">Testing Track</option>
                        <option value="Will be open soon">Mearn Track</option>
                  </select>
                  <p>{{selectedValue}}</p>
            </div>

      </div>

</div>


