<br><br>
<div class="container">
     <div class="div col-12">
      <div class="card">
            <img src="{{imgSrc}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-warning" (click)="showMore()">See More...</button>
            </div>
      </div>
     </div>
</div><br><br>
